 /*MODIFIES DOWNLOAD AND CODEPEN ICONS*/
.fa-main-icon_valign {
  margin: 12px 0 0;
}

 /*MODIFIES NAV ICONS*/
.fa-nav-icon_valign {
  margin: 15px 0 5px;
}

 /*MODIFIES BOTTOM GO BACK UP ARROW*/
.fa-goup-arrow_center {
  text-align: center;
  font-size: 25px;
  line-height: 38px;
}
