/* Main Photo */
.photo-01 {
  background: url("../images/Arian_Zargaran-Picture.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px; }


/*From now on all is shit*/

/* Timeline */
.timeline-samuel-01,
.timeline-samuel-02,
.timeline-samuel-03,
.timeline-samuel-04 {
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out; }

.timeline-samuel-01 {
  background: url("../images/resume/results_way.jpg");
  background-position: center;
  background-size: cover; }

.timeline-samuel-02 {
  background: url("../images/resume/newsela.jpeg");
  background-position: center;
  background-size: cover; }

.timeline-samuel-03 {
  background: url("../images/resume/antena3.jpg");
  background-position: center;
  background-size: cover; }
/* 
.timeline-samuel-04 {
  background: url("https://neuethemes.net/preview/html/gridus/html/assets/custom/2.2.0/images/layouts/samuel/timeline/04.jpg");
  background-position: center;
  background-size: cover; } */
